{% extends 'sogapp/base.html' %}
{% load static %}
{% block title %}
<title>{{artist_info.first_name}} {{artist_info.last_name}} Profile</title>
{% endblock %}

{% block content %}
<div class="container t_padding">

  <div class="row">
    <h1>{{artist_info.first_name}} {{artist_info.last_name}} Profile</h1>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="slideshow pull-left">
        <img class="thumbnail" src="{{artist_info.artist_photo1_url}}" width="450" height="400" />
        <img class="thumbnail" src="{{artist_info.artist_photo2_url}}" width="450" height="400" />
        <img class="thumbnail" src="{{artist_info.artist_photo3_url}}" width="450" height="400" />
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
      <div class="artist_bio pull-right">
        <h3>Biography</h3>
        <p>{{artist_info.artist_bio}}</p>
      </div>

    </div>
</div>
</div>

{% include 'sogapp/backgroundslideshow/slideshow.html' %}
{% include 'sogapp/footer/footer.html' %}



{% endblock %}
