 {% load staticfiles %}

 <div class="intro-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <img class="img-responsive img-circle tpad" src={% static "images/SOGLOGO.jpg" %} alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9 col-md-9">
          <h1>SOG RECORDS <span class="text-muted">&raquo; Sounds of Greatness<i class="fa fa-music"><i class="fa fa-music"></i></i></span>
          </h1>
          <p class="lead" style="text-align: justify">SOG Records is an outstanding record label that you can entrust with your career. SOG record is primarily founded on the basis of promoting and elevating talents of our recording artists to the next level. We produced musics that entertained and energized our fans and clients. We worked with artists from diverse background because we strongly believe in providing opportunity to every unique talent that comes by. We wholeheartedly take our fans and artist very essential because without them, our existence as a record label will not be a reality.Pomoting and elevating Liberian and world talents is at core value of our existence as a record label company. We appreciate our relationship with our cleints, fans and artists.  Withou you, we wouldn't be where we are today.
             We are here to help promote Liberian and world talents. </p>
        </div>
      </div>
    </div>
  </div>