 {% load staticfiles %}
 <div class="intro-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs tpad">
          <img class="img-responsive img-circle" src={% static "images/SOGLOGO.jpg" %} alt="">
        </div>
        <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9 tpad">
<iframe name="full" style="width:100%;height:520px;border:0px;" src="//widget.cdbaby.com/3cbe9e11-19cf-48f3-bac3-86c80b5d31c7/full/light/opaque"></iframe>
          <h1>SOG RECORDS <span class="text-muted">&raquo; Sounds of Greatness<i class="fa fa-music"><i class="fa fa-music"></i></i></span>
          </h1>
          <p>SOG Records Empire is an outstanding record label that you can entrust with your career. SOG Records Empire is primarily founded on the basis of promoting and elevating talents of recording artists to the next level. We produced musics that entertained and energized our fans and clients. We worked with artists from diverse background, because we strongly believe in providing opportunity to every unique talent that comes by. We wholeheartedly take our fans and artist very essential. Without them, our existence as a record label will not be a reality.Pomoting and elevating Liberian and world talents is at the core value of our work. We appreciate our relationship with our cleints, fans and artists.  Without you, we wouldn't be where we are today.
             We are here to help promote Liberian and world talents. </p>
        </div>
      </div>
    </div>
  </div>
