{% extends "sogapp/base.html" %}

{% block title %}
<title>Music Release</title>

<style type="text/css">
	.youtube{
		
		
		}

		div.caption h4{
			color: white;
		}
</style>
{% endblock %}



{% block content %}
	<div class="container" style="padding-top: 75px;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  youtube">
			<div class="caption">
				<h4>Title: Musu</h4>
			</div>
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe height="500" class="embed-responsive-item" src="https://www.youtube.com/embed/TWzZeWcmzwY?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: In the Pool</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s2cBEmzzZ-o?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>

			<div class="col-xs-12 col-xs-12 col-md-6 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: Jammay</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2Yx_qpRwEjk?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: Grateful</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VqCu0r9S5EI?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-sm-12 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: I Tell You</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J-OnrmtC_Aw?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>

			<div class="col-xs-12 col-md-6 col-lg-6 col-sm-12 youtube">
			<div class="caption">
				<h4>Music Title: Last Bus Stop</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S4eQumKL4k0?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: In My Head</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SoaSzi5OstI?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-sm-12 col-lg-6 youtube">
			<div class="caption">
				<h4>Music Title: Mary Go Round</h4>
			</div
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ERP20tE1J50?ecver=2">
				  	
				  </iframe>
				  
				</div>
			</div>
			
		</div>

	</div>
	
	  {% include 'sogapp/backgroundslideshow/slideshow.html' %}
	  {% include 'sogapp/footer/footer.html' %}
{% endblock content %}