{% extends 'sogapp/base.html' %}
{% load static %}
{% block title %}
<title>Recording Artist</title>
{% endblock %}
{% block content %}
{% include 'sogapp/backgroundslideshow/slideshow.html' %}
<div class="container top_padding">
	<h1>Recording Artists</h1>
	<div class="row"style="display: flex; flex-wrap: wrap" class="">
	  {% for artist in artist_info %}
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-4">
			<div class="thumbnail enlarge">
      <img src="{{artist.artist_photo1_url}}" alt="{{artist.first_name}}">
      <div class="caption">
        <h4>Name: {{artist.first_name}} {{artist.last_name}}</h4>
        <p>{{artist.artist_bio|truncatechars:100}}</p>
        <p><a href="{% url 'sogapp:artist_details' pk=artist.pk %}" class="btn btn-primary btn-lg" role="button">Read Artist Profile</a></p>
      </div>
    	</div>
		</div>
		{% endfor %}
	</div>

	{% include 'sogapp/footer/footer.html' %}
</div>
{% endblock %}
