h1, h2, h3, h4{
  font-family: 'Abel', sans-serif;
}

.navbar-default{
  background-color: rgb(145, 105, 59);
}
/*Move carousel caption above image*/

.carousel-caption{
  z-index: 10;

}
.padded{
  margin-top: 25px;
}



/*.navbar-inverse {
  background: gray !important;
  background-size: cover;
  border-bottom: blue !important;
  height: 75px;
  margin: 0 !important;

}
*/


.navbar {background-color: rgb(64, 64, 64);
height: 75px;
border-bottom: black;}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
{color: white;
font-size: 1.2em;
font-family: "Cherry Cream Soda";
margin-top: 10px;
display: block;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: black; background-color:white;
border-radius: 5px;
font-size: 1.5em;}

@media only screen and (max-width: 764px) {
.collapsing, .in {background-color:  rgb(64, 64, 64);
font-size: 1em;
text-align: center;
font-family: "Cherry Cream Soda";}
.collapsing ul li a, .in ul li a {color: 	white !important;
  display: inline-flex;
}
.collapsing ul li a:hover, .in ul li a:hover {color:black !important;}
}
/*Positioning of the carousel image*/
.carousel-inner > .item > img{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
}
/* Formating the items within the carousel*/
.carousel-inner > .item{
  height: 500px;
}
.intro-block{
  padding: 100px  0px 0px 0px ;
  color: #fff;
}

p.lead{
  font-size: 1.9em;
  font-family: 'Days One', sans-serif;
}

.intro-block h1{
  font-size: 2.8em;
  font-family: 'Shrikhand', cursive;


}

/* Formating the items within the carousel*/
@media (min-width: 768px) {
  .carousel-inner > .item{
    height: 700px;
  }
  .map{
    height: 350px;
  }

}
.bpad{
  margin-bottom: 30px;
}


#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}
.text-muted{
  color: white;
  font-size:
}

/* Artist Page Styling*/
.t_padding{
  margin-top: 85px;
}
.t_padding h1{
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5em;
}


.caption p{
  font-size: 1em;
  font-family: 'Russo One', sans-serif;
}

.caption .btn-primary:hover{
  background:	rgb(255, 51, 0);
  color: black;
}

.caption .btn-primary{
  background:rgb(64, 64, 64);
  color: white;
}

.caption .btn-primary:focus{
  background:blue;
}

.enlarge{
  background-color: transparent;

}
.enlarge h3, p{
  color: white;

}

.enlarge:hover{
  width: 350px;
  font-size: 1.5em;

}
/*Artist details pay*/
.artist_bio h3{
  color: white;
  font-size: 3em;
  font-family: 'Permanent Marker', cursive;

}

.artist_bio p{
  font-size: 1.5em;
  text-align: justify;
  font-family: 'Russo One', sans-serif;
}
