/*h1, h2, h3, h4{
  font-family: 'Abel', sans-serif;

}*/
html{
  font-size: 11px;
}
h1{
  font-size: 2.0rem;
}

h2{
  font-size: 2rem;
}
h3{
  font-size: 2em;
}

h4{
  font-size: 1rem;
}

p{
  font-size: 1.2rem;
}

.foot_er address, .foot_er a{
  font-size: 1rem;
}

.navbar-default{
  background-color: rgb(145, 105, 59);
}
/*Move carousel caption above image*/

.carousel-caption{
  z-index: 10;

}
.padded{
  margin-top: 25px;
}

.navbar {background-color: rgb(64, 64, 64);
height: 75px;
border-bottom: black;}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
{color: white;
font-size: 1.2em;
font-family: "Cherry Cream Soda";
margin-top: 10px;
display: block;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: black; background-color:white;
border-radius: 5px;
font-size: 1.5em;}

@media only screen and (max-width: 764px) {
.collapsing, .in {background-color:  rgb(64, 64, 64);
font-size: 1em;
text-align: center;
font-family: "Cherry Cream Soda";}
.collapsing ul li a, .in ul li a {color: 	white !important;
  display: inline-flex;
}
.collapsing ul li a:hover, .in ul li a:hover {color:black !important;}
}
/*Positioning of the carousel image*/
.carousel-inner > .item > img{
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 90%;
}
/* Formating the items within the carousel*/
.carousel-inner > .item{
  height: 800px;
}
.intro-block{
  padding: 100px  0px 0px 0px ;
  color: #fff;
}

p.lead{
  /*font-size: 1.9vw;*/
  font-family: 'Days One', sans-serif;
}

.intro-block h1{
  /*font-size: 2.9vw;*/
  font-family: 'Great Vibes', cursive;

}

/* Formating the items within the carousel*/
@media (min-width: 768px) {
  .carousel-inner > .item{
    height: 700px;
  }
  .map{
    height: 350px;
  }

}
.bpad{
  margin-bottom: 30px;
}

 /*Background slideshow for this website*/
#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

/*text muted class*/
.text-muted{
  color: white;
  font-size:
}

/* Artist Page Styling*/
.t_padding{
  margin-top: 85px;
}
.t_padding h1{
  color: white;
  font-family: 'Permanent Marker', cursive;
  /*font-size: 3.5vw;*/
}


.caption p{
  /*font-size: 1vw;*/
  font-family: 'Russo One', sans-serif;
}

.caption .btn-primary:hover{
  background:	rgb(255, 51, 0);
  color: black;
}

.caption .btn-primary{
  background:rgb(64, 64, 64);
  color: white;
}

.caption .btn-primary:focus{
  background:blue;
}

.enlarge{
  background-color: transparent;

}
.enlarge h3, p{
  color: white;

}

.enlarge:hover{
  width: 350px;
  font-size: 1.5vw;

}
/*Artist details pay*/
.artist_bio h3{
  color: white;
  /*font-size: 3vw;*/
  font-family: 'Permanent Marker', cursive;

}

.artist_bio p{
  /*font-size: 1.5vw;*/
  text-align: justify;
  font-family: 'Russo One', sans-serif;
}
/*Music release*/
.music_release h1{
  margin-top: 100px;
  color: white;
  font-family: 'Boogaloo', cursive;
  /*font-size: 4vw;*/

}


.caption h4{
  /*font-size: 2vw;*/
  color: white;
  padding-top: 20px;
}

/*Contact Page*/

p.lead{
  text-align: justify;
  padding-bottom: 20px;
}

.get_in_touch p{
  /*font-size: 2vw;*/
  text-align: justify;
  font-family: 'Mogra', cursive;

}

.get_in_touch h2{
  color: white;
  /*font-size: 3.5vw;*/
  font-family: 'Cherry Cream Soda', cursive;
}

#div_id_first_name label,#div_id_last_name label, #div_id_email label, #div_id_message label {
  color: white;
  font-size: 2vw;
  font-family: 'Mogra', cursive;
  padding-top: 5px;

}
@media screen and (min-width: 200px){
  html{
    font-size: 14px;
  }
  h1{
    font-size: 1.1em;
    text-align: center;
    padding-top: 10px;
  }
  .social h2{
    color: white;
    text-align: center;
    font-size: bold;
    font-family: 'Mogra', cursive;
    font-size: 3em;
  }
  .foot_er h3 {
    font-size: 1.5em;
    margin-top: -25px;

}

.foot_er address, .foot_er a {
  color: #fff;
  font-family: 'Days One', sans-serif;
}
}

@media screen and (max-width: 387px){
  html{
    font-size: 13px;
  }
  h1{
    font-size: 1.1em;
    text-align: center;
    padding-top: 10px;
  }
}

@media screen and (min-width: 400px){
  html{
    font-size: 16px;
  }
  .intro-block h1{
    font-size: 1.4em;
    font-family: 'Great Vibes', cursive;
    padding-top: 10px;

  }


}
@media screen and (min-width: 501px){
  html{
    font-size: 15px;
  }
  .intro-block h1{
    font-size: 1.8em;
    font-family: 'Great Vibes', cursive;
    padding-top: 10px;

  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
  .intro-block h1{
    font-size: 2.3em;
    font-family: 'Great Vibes', cursive;
    padding-top: 10px;

  }
}
/*@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}*/
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
  .intro-block h1{
    font-size: 2.7em;
    font-family: 'Great Vibes', cursive;

  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}
