/*Global styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html, body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /*line-height: 1.7;*/
    color: white;
}


.navbar {background-color: rgb(64, 64, 64);
height: 75px;
border-bottom: black;
display: inline;}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
{color: white;
font-size: 1em;
font-family: "Cherry Cream Soda";
margin-top: 13px;
display: inline-block;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: black; background-color:white;
border-radius: 5px;
font-size: 1.5em;}

@media only screen and (max-width: 764px) {
.collapsing, .in {background-color:  rgb(64, 64, 64);
font-size: 1em;
/*text-align: center;*/
font-family: "Cherry Cream Soda";}
.collapsing ul li a, .in ul li a {color: 	white !important;
  display: inline-flex;

}
.collapsing ul li a:hover, .in ul li a:hover {color:black !important;}
}
/*Positioning of the carousel image*/
.carousel-inner > .item > img{
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 90%;
}
/* Formating the items within the carousel*/
.carousel-inner > .item{
  height: 800px;
}

/* Formating the items within the carousel*/
@media (min-width: 768px) {
  .carousel-inner > .item{
    height: 700px;
  }
  .map{
    height: 350px;
  }

}

/*Background slideshow for this website*/
#slideshow, img.bgM {
 min-height: 100%;
 min-width: 1024%;
 width: 100%;
 height: auto;
 position: fixed;
 top: 0;
 left: 0;
 z-index:-9999;
}

/*Styling of intro section*/
.tpad{
  padding: 10px 10px 0px 0px;
}

.intro-block{
  width: 100%;
}
.intro-block  p{
  font-size: 100%;
  line-height: 1.5em;
  text-align: justify;
  font-family: 'Permanent Marker', cursive;
}

.intro-block h1{
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
span.text-muted{
  text-transform: uppercase;
}
/*Footer styling*/
.footer_text{
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: justify;
}
.footer_text.social{
  text-align: center;

}
.footer_text.social a{
  padding: 7px;
  font-size: 0.5em;
}
.footer_text.social h2{
  font-size: 1.0em;
  padding-bottom: 20px;
  font-weight: bold;
}
.footer_text footer{
  text-align: center;
}
footer address h2{
  font-size: 1.3em;
  font-weight: bold;
}

/*Sytling artist page*/
.top_padding{
  padding-top: 100px;
}
/* Small devices (tablets, 768px and up) footer styling*/
@media (min-width: 768px) {
  .footer_text{
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 5px;

  }
  .intro-block h1{
    font-weight: bold;
    font-size: 159%;
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  .img-responsive.jaffar{
    width: 60%;
    margin: 0 auto;
  }

  .copyright{
    text-align: center;
    padding-top: 3px;
  }
  .intro-block  p{
    font-size: 125%;
    line-height: 1.7em;
    text-align: justify;
     font-family: 'Permanent Marker', cursive;
  }
 }

 /* Medium devices (desktops, 992px and up)  styling*/
 @media (min-width:992px) {

   .footer_text{
     font-size: 1.1em;
     line-height: 1.3em;
     text-align: justify;
     word-spacing: -2;

   }
   .img-responsive.jaffar{
     width: 50%;
     margin: 0 auto;
     font-size: 2em;
   }

   .intro-block h1{
     font-weight: bold;
     font-size: 206%;
     text-align: center;
     padding: 20px 0px 20px 0px;
   }

   .intro-block  p{
     font-size: 150%;
     line-height: 1.7em;
     text-align: justify;
     font-family: 'Permanent Marker', cursive;
   }
 }

 /* Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
   intro-block  p{
     font-size: 250%;
     line-height: 1.7em;
     text-align: justify;
     font-family: 'Permanent Marker', cursive;
   }

   .intro-block h1{
     font-weight: bold;
     font-size: 250%;
     text-align: center;
     padding: 20px 0px 20px 0px;
   }
 }
