
.myCarousel{

}
iframe{
  width: "700px";
  height: "315px";
}

h1, h2, h3, h4{
  font-family: 'Abel', sans-serif;
}
b, strong{
  font-weight: 400;
}
.navbar-default{
  background-color: rgb(145, 105, 59);
}
/*Move carousel caption above image*/

.carousel-caption{
  z-index: 10;
}
/*Positioning of the carousel image*/
.carousel-inner > .item > img{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
}
/* Formating the items within the carousel*/
.carousel-inner > .item{
  height: 500px;
}
.intro-block{
  background: url(../images/purpalt.png) repeat;
  padding: 100px 0 ;
  color: #fff;

}

.text-muted {
  color: #e9e6df;
  font-weight: 100px;
}

.tpad{
  padding-top: 20px;
}
.marketing{
  background-color: #e9e9df;
}

hr{
  border-top: 1px solid #c9c9c9;
}
.info{
  background: #ffa753 url(../images/skyline.png) repeat-x bottom;
  padding: 80px 0px;
}
.info a{
  color: #fff;
}
.info a:hover{
  color: #333;
}
.padded{
  padding: 100px 15px;
}

.tab-pane{
  padding: 40px 10px 0 10px;
}
.ftr{
  background: url(../images/shattered.png) repeat;
  padding: 80px 0 60px 0;
}
.ftr address, .ftr a, ftr p{
  color: #fff
}

.ft_space{
  padding: 0 10px;
}


/* Formating the items within the carousel*/
@media (min-width: 768px) {
  .carousel-inner > .item{
    height: 700px;
  }
  .map{
    height: 350px;
  }

}
.bpad{
  margin-bottom: 30px;
}
.blog h1 a{
  color: #4b8575;
}
.blog p a{
  color: #ed7337;
}
.sidebar{
  background: #e9e6df;
}


.lead{
  margin-bottom: -110px;
}



#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

.social h2{
  color: white;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid white;
}


