
  {% load staticfiles %}
  {% block styles %}
    <link href="{% static "css/footer.css" %}" rel="stylesheet">
  {% endblock styles %}

  <div class="container space">
    <div class="row">
      <hr>
      <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 ">
        <footer class="foot_er">
            <address >
              <h3>SOG Records Empire</h3>
              Camp Johnson Road <br>
              Monrovia, Liberia 1000-10 <br>
              West African, Africa <br>
              <a href="mailto: contact@sogrecordsempire.com">contact@sogrecordsempire.com</a><br>
              <abbr title="Phone">P:</abbr>+231886205927

            </address>
              </footer>
            <div class="social">
            <h2>Get Connected</h2>
            <a href="https://twitter.com/SOGMARKET" target="_blank" class="twitter"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>

            <a href="https://www.facebook.com/SOGRECORDSEMPIRE/" target="_blank" class="facebook"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/channel/UCVEZoCS5Xrz2F5e9ZQIE5ng" target="_blank" class="youtube"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a>

              <a href="https://www.instagram.com/sogrecordsempire/?hl=en" target="_blank" class="instagram"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>

          </div>
      </div>
      <div class="col-xs-12 col-lg-4 col-md-4">
        <blockquote cite="http://"><p>&ldquo;SOG Records has completely revolunized Liberian music for the better. Considering SOG as you record label, you will be linked to the world of endless possibilities
           and opportunities.</p>
              <p>At SOG Records Empire, we are dedicated to making all artists achieve their full
             potential trhough the provision of mentorship and musical support.&rdquo;</p>
           <p><small>King Jaffar, <cite title="source title">SOG Records</cite></small>
         </blockquote></p>
      </div>

      <div class="col-sm-12 col-xm-12 col-md-4 col-lg-4">

        <img  class="img-responsive img-circle" src="http://res.cloudinary.com/dypjectne/image/upload/v1496462716/KingJaffar_tgsydf.jpg" %}>
        <div class="copyright">
          <p class="text-center"> Copyright &copy; 2017 SOG Records Empire</p>

        </div>
      </div>


    </div>
  </div>


 <!-- <div class="ftr">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">


        </div>
         <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <!-- Quotes in here -->


        <!-- </div>

        <div class="col-xs-12 col-sm-12  col-lg-4">

      </div> -->


      <!-- </div>

    </div>

  </div>

</div> --> --> -->
