  {% load staticfiles %}
  {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "sogapp/css/footer.css" %}">
  {% endblock styles %}
  

 <div class="ftr">
  <div class="container">
    <div class="row">
      <footer>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <address class="">
            <h3>SOG Record Empire</h3>
            Camp Johnson Road<br>
            Monrovia, Liberia 1000-10<br>
            West African, Africa <br>
            <a href="mailto: sogrecords@gmail.com">sogrecordsempire@gmail.com</a><br>
            <abbr title="Phone">P:</abbr>+231886205927

          </address>
          <div class="social">
          <h2>Get Connected</h2>
          <a href="https://twitter.com/SOGMARKET" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>

          <a href="https://www.facebook.com/SOGRECORDSEMPIRE/" target="_blank"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>

          <a href="https://www.youtube.com/channel/UCVEZoCS5Xrz2F5e9ZQIE5ng" target="_blank"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a>

            <a href="https://www.instagram.com/sogrecordsempire/?hl=en" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
         
        </div>         
         
        </div>
         <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
          <!-- Quotes in here -->
          <blockquote cite="http://"><p class="quote">&ldquo;SOG Records has completely revolunized Liberian music for the better. Furthermore,
            considering SOG as you record label, you will be linked to the world of endless possibilities
            and opportunities. SOG Records is dedicated to making all artists achieve their full
            potential by providing the neccessary support and mentorship needed to making every artist the best among the rest.&rdquo;</p>
            <small style="color: white;">King Jaffar, <cite title="source title">SOG Records</cite></small>
          </blockquote>

        </div>
      
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img width="150" height="75" class="img-responsive img-circle" src="http://res.cloudinary.com/dypjectne/image/upload/v1496462716/KingJaffar_tgsydf.jpg" %}>
         
          <p style="color:white;">&copy; SOG Empire Records Inc. 2017</p>

        </div>
      </footer>

      </div>

    </div>

  </div>

</div>

